client:
  origins:
    - https://localhost:4200
    - https://localhost
    - https://192.168.1.41
    - https://192.168.1.41:4200
    - http://localhost:4200
  jwt:
    issuer: https://192.168.1.41:18443/realms/jxhui

server:
  #  address: 0.0.0.0
  #  port: 8443
  port: 80
  ssl:
    enabled: false
    certificate: classpath:cert/jikan-server.crt
    certificate-private-key: classpath:cert/jikan-server.key
    trust-store: classpath:cert/truststore.jks
    trust-store-password: password
    trust-store-type: JKS

spring:
  application:
    name: jikan-server
  data:
    mongodb:
      uri: mongodb://localhost:27017/jikan-ga-aru
      auto-index-creation: true
  graphql:
    websocket:
      path: /subscriptions

  security:
    oauth2:
      resourceserver:
        jwt:
          #          issuer-uri: https://localhost:18443/realms/jxhui
          issuer-uri: https://192.168.1.41:18443/realms/jxhui
          jwk-set-uri: ${spring.security.oauth2.resourceserver.jwt.issuer-uri}/protocol/openid-connect/certs

## JWT Configuration
jwt:
  auth:
    converter:
      resource-id: root
      principal-attribute: x509-dn-mapper # this matches your keycloak settings

logging:
  level:
    root: info
    org:
      mongodb: INFO
      springframework:
        beans:
          factory:
            support: INFO
        security: TRACE
        data:
          mongodb: INFO
  #
  #            core:
  #              MongoTemplate: DEBUG
#


management:
  otlp:
    tracing:
      export:
        enabled: true
      endpoint: "http://192.168.1.41:4318/v1/traces" # this causes it to export! finally....
  tracing:
    sampling:
      probability: 1.0 # sample 100% of events
    enabled: true